@font-face {
  font-family: "Emberly";
  src: url("../font/Emberly-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Emberly";
  src: url("../font/EmberlyRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
}
